.footer {
  background-color: grey;
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}

.social-media {
  display: flex;
  align-items: center;
}

a {
  margin: 0 2px;
}
